<form [formGroup]="addComponentForm" (ngSubmit)="addComponent()" class="form-container">
  <div>
    <label>Name:</label>
    <input formControlName="name" class="form-control" />
  </div>

  <div>
    <label>Producer:</label>
    <input formControlName="producer" class="form-control" />
  </div>

  <div>
    <label>Type of Product:</label>
    <input formControlName="typeOfProduct" class="form-control" />
  </div>

  <div>
    <label>Image URL:</label>
    <input formControlName="imageUrl" class="form-control" />
  </div>

  <div>
    <label>Price:</label>
    <input type="number" formControlName="price" class="form-control" />
  </div>

  <div>
    <label>Production Year:</label>
    <input type="number" formControlName="productionYear" class="form-control" />
  </div>

  <div>
    <label>Power Usage (W):</label>
    <input type="number" formControlName="powerUsage" class="form-control" />
  </div>

  <div>
    <label>Status:</label>
    <select formControlName="status" class="form-control">
      <option [value]="PartStatus.Available">Available</option>
      <option [value]="PartStatus.Sold">Sold</option>
      <option [value]="PartStatus.Discounted">Discounted</option>
      <option [value]="PartStatus.WaitingStock">Waiting Stock</option>
    </select>
  </div>

  <div>
    <label>Stock Count:</label>
    <input type="number" formControlName="stockCount" class="form-control" />
  </div>

  <div>
    <label>
      <input type="checkbox" formControlName="isPublic" />
      Public
    </label>
  </div>

  <button type="submit" class="btn btn-primary">Add Component</button>
</form>
