
<router-outlet></router-outlet>

<nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <h1>Welcome to {{ title }}</h1>
    <li><a routerLink="/basket">Basket</a></li>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/logout">Logout</a></li>
  </ul>
</nav>

<!--<nav>
  <div>
    <div>-->
      <!--logo image and Name-->
    <!--</div>
    <div>-->
      <!--Search Box-->
    <!--</div>
    <div>-->
      <!--Tools (Login,Logout,Register)-->
    <!--</div>
  </div>
</nav>-->








<!-- Placeholder for child components -->
<router-outlet></router-outlet> 
